.header .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1410px;
    margin: 0 auto;

    height: 120px;
}

.main_article {
    padding: 120px 0;
    background: #f5fef3;

}


.main_article .title {
    font-size: 24px;
    font-weight: 550;
    text-align: center;
    margin-bottom: 40px;
}

.main_article .title h2 {
    margin-bottom: 10px;
}


.main_article .inner {
    display: flex;
    align-items: flex-start;
    gap: 120px;
    max-width: 1410px;
    margin: 0 auto;
}

.main_article .inner>* {
    flex: 1;
}


.main_article .scroll01 {
    flex: 1.5;
}

.main_article .inner .img_set img~img {
    margin-top: 20px;

}

.main_article .fix {
    position: sticky;
    top: 120px;
}